<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338091236827-snka56k9ev0c7b6djcuof8frjd7uoe3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338091236827-snka56k9ev0c7b6djcuof8frjd7uoe3p</string>
	<key>API_KEY</key>
	<string>AIzaSyBSBOO6F8SLosdAdY-1BxUcQRiseYPoOsc</string>
	<key>GCM_SENDER_ID</key>
	<string>338091236827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingTutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatting-tutorial-f2e21</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-tutorial-f2e21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338091236827:ios:c0a18541e389b30d629bfe</string>
</dict>
</plist>